$minSmall:#{"min-width:768px"};
$minMeduim:#{"min-width:992px"};   // width of screen responsive
$minLarge:#{"min-width:1200px"};

$maxSmall:#{"max-width:768px"};
$maxMeduim:#{"max-width:992px"};   // width of screen responsive
$maxLarge:#{"max-width:1200px"};

// mains Color
$mainColor:#3E4581;
$secColor:#AE68FA;


