@font-face {
    font-family:G-bold;
    src: url(/CSS/Gilroy-Bold.ttf);
}
@font-face {
    font-family:G-light;
    src: url(/CSS/Gilroy-Light.ttf);
}
@font-face {
    font-family:G-meduim;
    src: url(/CSS/Gilroy-Bold.ttf);
}
